%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "#"} Huli Landing Page
      = link_to "Projects", projects_path
      = link_to "Teams"
      = link_to "Add new Project", new_project_path